<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<div id="app">
    <p>{{message}}</p>
    <p v-html="htmlText" v-once=""></p>
    <ol>
        <todo-item v-for="todo in todos" v-bind:todo="todo"></todo-item>
    </ol>
    <input v-model="message">
    <button v-on:click="reverseMessage" v-bind:disabled="isEmpty(message)">Reverse</button>
</div>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script>
    Vue.component('todo-item', {
        props: ['todo'],
        template: '<li>{{todo.text}}</li>'
    });

    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello',
            todos: [
                {text: 'Tree'},
                {text: 'House'},
                {text: 'Son'}
            ],
            htmlText: '<strong>Very</strong> nice!'
        },
        methods: {
            reverseMessage: function () {
                this.message = this.message.split('').reverse().join('')
            },
            isEmpty: function(message) {
                return message.length == 0
            }
        },
        created: function () {
            console.log('Created message: ' + this.message)
        },
        updated: function () {
            console.log('Updated message: ' + this.message)
        }
    })
</script>
</body>
</html>